/* CSS Document */
body {
    background: #efeff4;
    margin-bottom: 0.5em;
}

nav {
    width: 100%;
    margin-top: 1rem;
}

nav ul {
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    width: 100%;
    margin: 0 auto;
}

nav ul li {
    width: 100%;
    margin: 1rem auto;
    background: #fff;
}

nav ul li .top, nav ul li .mid, nav ul li .bn {
    width: 94%;
    padding: 0 3%;
    overflow: hidden;
}

nav ul li .mid {
    padding: 1.5rem 3%;
    border-bottom: 1px #ddd solid;
}

nav ul li .top {
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #808080;
    background: #fafafa;
    overflow: hidden;
    border-top: 1px #ddd solid;
    border-bottom: 1px #ddd solid;
}

nav ul li .top span {
    float: left;
}

nav ul li .top span:nth-child(1) {
    width: 60%;
    color: #808080;
}

nav ul li .top span:nth-child(2) {
    width: 20%;
    color: #808080;
    text-align: right;
}

nav ul li .top span:last-child {
    float: right;
    width: 20%;
    color: var(--main-color);
    text-align: right;
}

nav ul li .mid .lt {
    width: 25%;
    float: left;
}

nav ul li .mid .rt {
    width: 72%;
    float: right;
}

nav ul li .mid .lt img {
    width: 100%;
    height: 8rem;
}

nav ul li .mid .rt .rttop {
    width: 100%;
    overflow: hidden;
}

nav ul li .mid .rt .rttop p:nth-child(1) {
    width: 70%;
    float: left;
    margin-top: -0.3rem;
    line-height: 2.2rem;
    height: 4.4rem;
    font-size: 1.6rem;
    color: #333333;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

nav ul li .mid .rt .rttop p:nth-child(2) {
    width: 25%;
    margin-top: -0.3rem;
    float: right;
    text-align: right;
    color: var(--main-color);
    font-size: 1.6rem;
}

nav ul li .mid .rt .rtbn {
    width: 100%;
    color: #666666;
    font-size: 1.4rem;
    margin-top: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

nav ul li .mid .rt .rtbn1 {
    width: 100%;
    color: #666666;
    font-size: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

nav ul li .bn {
    height: 5rem;
    line-height: 5rem;
    border-bottom: 1px #ddd solid;
    overflow: hidden;
}

nav ul li .bn span {
    font-size: 1.6rem;

}

nav ul li .bn botton {

    display: inline-block;
    width: 25%;
    float: right;
    height: 3rem;
    line-height: 3rem;
    margin: 1rem 0 1rem 1rem;
    font-size: 1.6rem;
    border-radius: 5px;
    text-align: center;
}

nav ul li .bn .bn1 {
    color: #fff;
    background: var(--main-color);
}

nav ul li .bn .bn1 a {
    color: #b39457;
}
