{extend name="public/base"/}

{block name="body"}
<script type="text/javascript">
    $("title").text('新闻列表');
    $(document).ready(news_obj.index);
</script>

<header>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="categoryList" id="vo"}
            <div class="swiper-slide {$key == 0 ? 'on' : ''}" data-pid="{$vo.id}">{$vo.name}</div>
            {/volist}
        </div>
        <div class="swiper-button-next"></div>
    </div>
</header>

<nav>
    <div class="hidden">
        <input type="hidden" name="page" value="1"/>
        <input type="hidden" name="url" value="{:url('News/index')}"/>
    </div>
    <ul class="content">

    </ul>
</nav>
<form id="form_ajax">
    <input type="hidden" name="category_id" value="{$categoryList[0]['id']}"/>
</form>
{assign name="nodata" value="nothing_img"}
{include file="public/nodata"/}
{/block}