{if condition ="strtolower(request()->controller()) == 'integral' && strtolower(request()->action()) == 'index'"}
<!--积分商城产品-->
{volist name="dataList" id="vo"}
<li>
    <a href="{:url('Integral/detail',array('id'=>$vo['id']))}">
        <p><img src="{$vo.coverimg}"/></p>
        <p>{$vo.name}</p>
        <p>
            <span>{$vo.integral}积分</span>
            <span><botton>去兑换</botton></span>
        </p>
    </a>
</li>
{/volist}
{/if}

{if condition ="strtolower(request()->controller()) == 'integral' && strtolower(request()->action()) == 'myorder'"}
<!--积分商城订单-->
{volist name="dataList" id="vo"}
<li data-pid="{$vo.id}">
    <div class="top">
        <span>交易单号：{$vo.order_number}</span>
        <span>
            {if condition="$vo.deliver == 1"}快递
            {elseif condition="$vo.deliver == 2"/}自提
            {/if}
        </span>
        <span>
            {if condition="$vo.status == 1"}待发货
            {elseif condition="$vo.status == 2"/}已发货
            {elseif condition="$vo.status == 3"/}已完成
            {/if}
        </span>
    </div>
    <div class="mid">
        <div class="lt"><img src="{$vo.product.coverimg}"></div>
        <div class="rt">
            <div class="rttop">
                <p>{$vo.product.name}</p>
                <p>{$vo.product.integral}积分</p>
            </div>
            <if condition="$vo.type eq 1">
                <div class="rtbn">联系人：{$vo.linkman} {$vo.linktel}</div>
                <div class="rtbn1">收货地址：{$vo.address}</div>
            </if>
        </div>
    </div>
    <div class="bn">
        <span>
            {if condition="$vo.pay_integral != 0"}
            积分：
            <span>{$vo.pay_integral}</span>
            {/if}
            {if condition="$vo.pay_money != 0"}
            {$vo.pay == 1 ? '微信':'余额'}：
            <span>{$vo.pay_money}</span>
            {/if}
        </span>
        {if condition="($vo.status == 2) || (($vo.status == 1) && ($vo.deliver == 2))"}
        <botton class="bn1 finish">确定收货</botton>
        {elseif condition="$vo.status == 3"/}
        <botton class="bn1 del">删除</botton>
        {/if}
    </div>
</li>
{/volist}
{/if}

{if condition ="strtolower(request()->action()) == 'myintegral'"}
{volist name="dataList" id="vo"}
<div class="bnlist">
    <span>{$vo.create_time|date="Y-m-d H:i",###}</span>
    <span>{$vo.remark}</span>
        <span>
            {$vo.field_change}{$vo.number}
        </span>
</div>
{/volist}
{/if}