{include file="public/header" title="我的关注"}
<body>
<div class="wrap">
    {include file="public/top_nav"}
    <div class="banner">
        {include file="public/search"}
        {include file="public/category_nav"}
    </div>
    <div class="volume-wrapper">
        <div class="volume-wrapper-content">
            {include file="public/vip_nav" title="我的关注"}
            <div class="wrap-content">
                <ul class="product-list lists">
                    {foreach name="dataList" item="vo"}
                    <li class="detail_do" cid="{$vo.id}" goods_id="{$vo.goods_id}">
                        <a href="javascript:;">
                            <div class="product-btns">
                                <!--<p class="product-btna">置顶</p>-->
                                <p class="product-btnb">立即购买</p>
                                <p class="product-btna del">取消关注</p>
                            </div>
                            <img src="{$vo.coverimg}">
                            <p class="price">￥{$vo.price}</p>
                            <p class="name">{$vo.name}</p>
                            <div class="info">
                                <p class="salenum">热销<span>{$vo.sales}</span>笔</p>
                                <p class="discuss">已有<span>{:comment_num_show($vo.comment_count)}</span>评价</p>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                    {empty name="dataList"}
                        <div style="text-align: center;">您还没有收藏商品哦~</div>
                    {/empty}
                    <!--<li>-->
                    <!--<div class="product-btns">-->
                    <!--<p class="product-btna">置顶</p>-->
                    <!--<p class="product-btnb">加入购物车</p>-->
                    <!--<p class="product-btna">取消关注</p>-->
                    <!--</div>-->
                    <!--<img src="__STATIC__/home/common/images/product-a.png">-->
                    <!--<p class="price">￥268.00</p>-->
                    <!--<p class="name">雷霆（LETEN） 飞机杯全自动男飞机杯全自动男用自慰器用自慰器成人情趣性用品加温震动防水倒模夹吸互动</p>-->
                    <!--<div class="info">-->
                    <!--<p class="salenum">热销<span>555555</span>笔</p>-->
                    <!--<p class="discuss">已有<span>5555+</span>评价</p>-->
                    <!--</div>-->
                    <!--</li>-->

                </ul>
            </div>
            <div class="page">
                {$page->show()}
            </div>
        </div>
        </div>
    </div>

    {include file="public/footer"}
    <!--右边导航s-->
    {include file="public/right_nav"}
    <!--右边导航e-->

</div>
<script>
    $(document).ready(vip_obj.mycollect());
</script>
<script type="text/javascript">
    function hide_login_layer() {
        $("#form_address").empty();
        $("#form_address_edit").empty();
        $(".login-layer").hide();
    }
</script>
</body>
</html>