body {
    background: #efeff4;
    margin-bottom: 0.5rem;
}

textarea {
    width: 94%;
    padding: 0.8rem 3%;
    margin: 1.5rem 0 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    color: #333;
    line-height: 1.6rem;
}

div {
    width: 94%;
    padding: 0 3%;
    overflow: hidden;
    background: #fff;
    height: 5rem;
    color: #4c4c4c;
    line-height: 5rem;
    font-size: 1.6rem;
}

.rinput {
    width: 85%;
    border: 0;
    float: right;
    outline: 0;
    font-size: 1.6rem;
    height: 2rem;
    line-height: 2rem;
    padding: 1.6rem 0 1.4rem;
    color: #333;
    line-height: 1.6rem;
}

