/* CSS Document */
body {
    background: #f1f1f1;
    margin-bottom: 0.5rem;
}

header {
    width: 100%;
}

/*轮播*/
.swiper-slide img {
    width: 100%;
}

.link {
    width: 100%;
    background: #fff;
    overflow: hidden;
}

.link > span {
    display: block;
    width: 49.8%;
    line-height: 2.5rem;
    height: 2.5rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.6rem;
    color: #4c4c4c;
}

.link span a {
    color: #4c4c4c;
}

.link span img {
    height: 2.5rem;
    vertical-align: middle;
    margin-top: -0.5rem;
    margin-right: 1rem;
}

.link > span:nth-child(1) {
    float: left;
    border-right: 1px #ddd solid;
}

.link > span:nth-child(2) {
    float: right;
}

.link span span {
    margin-left: 0.5rem;
}

/*nav*/
nav {
    width: 100%
}

nav ul {
    width: 96%;
    margin: 0 auto;
    overflow: hidden;
}

nav ul li:nth-child(odd) {
    width: 49%;
    float: left;
    margin-top: 0.8rem;
    padding-bottom: 0.5rem;
    background: #fff;
}

nav ul li:nth-child(even) {
    width: 49%;
    float: right;
    margin-top: 0.8rem;
    background: #fff;
    padding-bottom: 0.5rem;
}

nav ul li p {
    width: 90%;
    padding: 0 5%;
    margin: 0 auto;
    overflow: hidden;
    line-height: 3rem;
}

nav ul li p img {
    width: 60%;
    margin: 1.5rem 20%;
    height: 11rem;
}

nav ul li p:nth-child(1) {
    border-bottom: 1px #ddd solid;
}

nav ul li p:nth-child(2) {
    font-size: 1.7rem;
    color: #3a3a3a;
    padding-top: 0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
}

nav ul li p:nth-child(3) {
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}

nav ul li p span {
    width: 50%;
    display: block;
    float: left;
}

nav ul li p span:nth-child(1) {
    color: var(--main-color);
}

nav ul li p span:nth-child(2) {
    color: var(--main-color);
    text-align: right;
    font-size: 1.4rem;
    margin-top: 0.2rem;
}

nav ul li p span botton {
    background: var(--main-color);
    color: #fff;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

nav .more {
    line-height: 4rem;
    color: var(--main-color);
    text-align: center;
    font-size: 1.4rem;
}
