body {
    background: #fff;
    margin-bottom: 0.5rem;
}

header {
    position: relative;
    width: 100%;
    padding: 2rem 0;
    background: var(--main-color);
    overflow: hidden;
}

header .top {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    border-radius: 50%;

}

header .top > div {
    width: 90%;
    height: 90%;
    margin: 0 5%;
    border-radius: 50%;
    overflow: hidden;
}

header .top p:nth-child(1) {
    width: 30%;
    margin: 0 auto 0;
    font-size: 1.5rem;
    display: block;
    padding: 0.3rem 1rem;
}

header .top p:nth-child(2) {
    margin-top: 13%;
    font-size: 3rem;
    display: block;
}

header .bn {
    width: 70%;
    margin: 2rem auto 0;
    font-size: 1.6rem;
    color: #fff;
}

header .bn span {
    display: block;
    width: 35%;
    background: var(--main-color);
    line-height: 3rem;
    height: 3rem;
    text-align: center;
    border-radius: 20px;
}

header .bn span a {
    color: #fff;
}

header .bn span:nth-child(1) {
    float: left;
}

header .bn span:nth-child(2) {
    float: right;
}

header .bn div {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    background: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    color:var(--main-color);
}

header .bn div img {
    height: 2.5rem;
    margin: -0.2rem 0.2rem 0 -0.8rem;
    vertical-align: middle;
}

.rule {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    color: #fff;
    font-size: 1.3rem;
}

.rule img {
    height: 2.2rem;
    margin-top: -0.4rem;
    margin-right: 0.2rem;
    vertical-align: middle;
}

/*nav*/
nav {
    width: 100%;
    padding-top: 1.5rem;
}

.navmid {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: center;
    color: #bbbbbb;
}

.navmid span {
    letter-spacing: -0.1rem;
}

.navbn {
    width: 90%;
    margin: 0.5rem auto 0;
    color: #4c4c4c;
    font-size: 1.6rem;
}

.navbn .bnlist {
    width: 100%;
    padding: 1rem 0;
    overflow: hidden;
}

.navbn .bnlist span {
    display: block;
    float: left;
    color: #333333;
}

.navbn .bnlist span:nth-child(1) {
    color: #808080;
    width: 50%;
}

.navbn .bnlist span:nth-child(2) {
    width: 25%;
}

.navbn .bnlist span:nth-child(3) {
    width: 25%;
    float: right;
    text-align: right;
}

a {
    display: block;
}