/* CSS Document */
body {
    background: #f1f1f1;
    margin-bottom: 5.5rem;
}
/*list*/
.list {
    width: 100%;
    background: #fff;
    margin-bottom: 1rem;
    border-bottom: 1px #ddd solid;
}

.list .top {
    width: 94%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    color: #808080;
    font-size: 1.6rem;
}

.list .top img {
    height: 3rem;
    margin-top: -0.2rem;
    vertical-align: middle;
}

.detail {
    width: 94%;
    margin: 0 auto;
    padding: 1.5rem 3%;
    overflow: hidden;
    border-top: 1px #ddd solid;
}

.detail .lt {
    width: 30%;
    float: left;
}

.detail .rt {
    width: 68%;
    float: right;
}

.detail .lt img {
    width: 100%;
    height: 11rem;
}

.detail .rt p {
    width: 100%;
}

.list .rt p:nth-child(1) {
    font-size: 1.6rem;
    color: #252525;
    margin-top: -0.2rem;
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.detail .rt p:last-child {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-top: 5.5rem;
    line-height: 2rem;
    margin-left: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-overflow: -o-ellipsis-lastline;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.info {
    position: relative;
    width: 94%;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    color: #4c4c4c;
    font-size: 1.6rem;
    overflow: hidden;
    border-bottom: 1px #eaeaea solid;
}

.info div {
    float: left;
}

.info div:nth-child(2) {
    float: right;
    text-align: right;
}

.deliver_way {
    position: relative;
    width: 94%;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    color: #4c4c4c;
    font-size: 1.6rem;
    overflow: hidden;
}

.deliver_way div {
    float: left;
}

.deliver_way div:nth-child(2) {
    float: right;
    text-align: right;
    margin-right: 2rem;
}

.deliver_way img {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    height: 2rem;
}

.pay_way {
    position: relative;
    width: 94%;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    color: #4c4c4c;
    font-size: 1.6rem;
    overflow: hidden;
    border-top: 1px #eaeaea solid;
}

.pay_way div {
    float: left;
}

.pay_way div:nth-child(2) {
    float: right;
    text-align: right;
    margin-right: 2rem;
}

.pay_way img {
    position: absolute;
    right: 0.5rem;
    top: 1.5rem;
    height: 2rem;
}

/* textarea{
	width: 94%;
	padding: 0.3rem 2%;
	background: #fafafa;
	font-size: 1.4rem;
	color: #4c4c4c;
	border-radius: 5px;
	border: 0;
	outline: 0;
	line-height: 2.5rem;
	resize : none;
} */

.coupons {
    position: relative;
    width: 94%;
    margin: 1rem auto 0;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    overflow: hidden;
    font-size: 1.6rem;
}

.coupons .lt {
    width: 80%;
    float: left;
    color: #4c4c4c;
}

.coupons .rt {
    width: 20%;
    float: right;
    color: #808080;
    text-align: right;
}

.coupons .rt img {
    height: 2.5rem;
    margin-top: 1.25rem;
}

.heji {
    width: 94%;
    margin: 0 auto;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    overflow: hidden;
    font-size: 1.6rem;
    border-top: 1px #ddd solid;
}

.heji > span {
    width: 50%;
    display: inline-block;
    color: #4c4c4c;
}

.heji > span:nth-child(2) {
    text-align: right;
}

.money {
    width: 94%;
    margin: 0 auto;
    padding: 0 3%;
    background: #fff;
    line-height: 5rem;
    overflow: hidden;
    font-size: 1.6rem;
    border-top: 1px #ddd solid;
}

.money > span {
    width: 50%;
    display: inline-block;
    color: #4c4c4c;
}

.money > span:nth-child(2) {
    text-align: right;
    color: var(--main-color);
}

/*all*/
.all {
    position: fixed;
    bottom: 0rem;
    width: 100%;
    overflow: hidden;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #414141;
}

.all .lt {
    width: 70%;
    float: left;
    background: #fff;
}

.all .lt img {
    height: 2rem;
    margin: 0.7em 0.5rem 1.3rem 0.5rem;
    vertical-align: middle;
}

.all .rt {
    width: 30%;
    float: left;
    background: #b39457;
    color: #fff;
    text-align: center;
}

.allcheck {
    display: block;
    height: 2.5rem;
    width: 2.5rem;

    margin-right: 0.5rem;
    background: url(../images/no.png) no-repeat;
    background-size: 100% 100%;
    float: left;
    margin-top: 1.2rem;
}

