/* CSS Document */
body{ background:#f1f1f1; margin-bottom:5.5rem;}
nav{
    width: 100%;
    margin: 0 auto;
}
nav ul{
    width: 100%;
    margin: 0 auto;
}
nav ul li{
    width: 100%;
    margin: 0 auto 1rem;
    background: #fff;
}
nav ul li .top{
    width: 92%;
    margin: 0 auto;
    padding: 1.5rem 4%;
    overflow: hidden;
}

nav ul li .top{
    color: #333333;
}

nav ul li .top  p{
    width:100%;
}
nav ul li .top  p:nth-child(1){
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}
nav ul li .top  p{
    font-size: 1.6rem;
    line-height: 1.8rem;
}
nav ul li .top  .number{
    margin-left: 1rem;
}


nav ul li .bn{
    width: 92%;
    margin: 0 auto;
    padding: 1rem 4%;
    overflow: hidden;
    text-align: right;
    font-size: 1.6rem;
    color: #808080;
    border-top: 1px #ddd solid;
    overflow: hidden;
    line-height:2.5rem;
}
nav ul li .bn img{
    height: 2rem;
    vertical-align: middle;
    margin-top:-0.2rem;
    margin-right: 0.2rem;
}
nav ul li .bn span{
    color: #808080;
    margin-left: 2rem;
}
nav ul li .bn .mo{
    float: left;
    color: var(--main-color);
    margin: 0;
}
nav ul li .bn .xuan{
    width: 40%;
    display: block;
    float: left;
    margin: 0;
}
p{
        margin:0;
        padding:0}
.bg{
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin-right:2%;
    background-image:url(../images/no.png);
    background-size: 100% 100%;}
.bg1    {  background-image:url(../images/yes.png);}
.add{
    width:100%;
    overflow:hidden;}
.add input{display:block;
    opacity:0;} 
.addrt{
    width:75%;
    float:left;
    text-align: left;
    display:block;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
    }
.addrt span{
    margin-right:5%;
    font-weight:bold;}
.no{
    width: 100%;
    margin-top: 40%;
    text-align: center;
    font-size: 2rem;
    color: #808080;
}
