body {
    background: #e6e6e4;
    margin-bottom: 6.5rem;
}

nav {
    width: 100%;
    background: #fff;
}

nav ul {
    width: 100%;
}

nav ul li {
    position: relative;
    width: 94%;
    margin: 0 auto;
    line-height: 6rem;
    color: #333;
    font-size: 1.5rem;
    border-bottom: 1px #ddd solid;
    overflow: hidden;
}

nav ul li > img {
    position: absolute;
    top: 2rem;
    right: 0;
    height: 2rem;
}

nav ul li span img {
    height: 3.5rem;
    margin: 1.25rem 0 0;
    border-radius: 50%;
}

nav ul li span:nth-child(2) {
    margin-left: 0.5rem;
}

.photo_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 100;
}

.question-img {
    width: 100%;
    margin: 1rem auto 0;
}

.question-img .min_pic {
    color: var(--main-color);
}

.upload_num {
    color: #0abcbc
}

.question-img .upload_box {
    width: 40%;
    margin: 6rem 30% 4rem;
    position: relative;
    display: none;
    float: left;
    box-sizing: border-box;
}

.question-img .upload_box.no_img {
    background-image: url("../images/code.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px #b3b3b3 dashed;
}

.upload_box {
    margin-left: 2%;
    margin-right: 2%
}

/* .upload_content{padding-bottom:0 !important;} */
.question-img .upload_box:first-child {
    display: block
}

.question-img .upload_box .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border: 0;
}

/* .publish_btn{width:100%;padding:10px 0;text-align:center;background:#0abcbc;color:#fff;border:none;margin:10px 0;font-size:16px;} */
.question-img .upload_box input[type="file"] {
    position: relative;
    z-index: 100
}

.question-img .upload_box .img img {
    border-radius: 8px;
    width: 100%;
    border: 0;
}

.evaluate {
    width: 100%;
    margin: 0 auto;
    background: #fff;
}

.evaluate .bn {
    width: 94%;
    margin: 0 auto;
    padding: 1rem 3%;
}

.photo_layer .botton {
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-color);
}

.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.close img {
    height: 3rem;
}

.sig {
    border: 0;
}

.name_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
}

.name_layer input {
    width: 94%;
    margin: 6rem 0 3rem;
    padding: 0 3%;
    border: 0;
    outline: 0;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #333;
}

.name_layer .botton {
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-color);
}

.sig_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
}

.sig_layer textarea {
    width: 94%;
    margin: 6rem 0 3rem;
    padding: 1rem 3%;
    border: 0;
    outline: 0;
    line-height: 2rem;
    font-size: 1.6rem;
    color: #333;
    resize: none;
}

.sig_layer .botton {
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-color);
}

.sex_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
}

.sex_layer p {
    width: 94%;
    padding: 0 3%;
    border: 0;
    outline: 0;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #333;
    background: #fff;
}

.number_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
}

.number_layer input {
    width: 94%;
    margin: 6rem 0 3rem;
    padding: 0 3%;
    border: 0;
    outline: 0;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    color: #333;
}

.number_layer .botton {
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    background: var(--main-color);
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--main-color);
}

.phone_layer {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    z-index: 100;
}

.register {
    width: 100%;
    margin: 6rem auto 0;
    border-top: 1px #ddd solid;
}

.register div {
    width: 94%;
    padding: 0 3%;
    margin: 0 auto;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.6rem;
    background: #fff;
    border-bottom: 1px #ddd solid;
}

.register div img {
    height: 2.5rem;
    margin: -0.5rem 1rem 0;
    vertical-align: middle;
}

.register div input {
    width: 45%;
    height: 2rem;
    line-height: 2rem;
    margin: 1.5rem 0;
    border: 0;
    outline: 0;
    font-size: 1.6rem;
    color: #4c4c4c;
}

.register div span {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    float: right;
    margin: 1rem 2% 1rem 0;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    color: var(--main-color);
    border: 1px var(--main-color) solid;
    border-radius: 5px;

}

.footer {
    width: 90%;
    margin: 4rem auto;
    border-radius: 5px;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    background: var(--main-color);
    display: block;
    float: none;
}

input {
    width: 60%;
    float: right;
    height: 6rem;
    line-height: 6rem;
    border: 0;
    outline: none;
    font-size: 1.6rem;
    color: #4c4c4c;
    text-align: right;
    box-sizing: border-box;
}

.select {
    width: 60%;
    background: url(../images/triangle.png) right no-repeat;
    background-size: 2.5rem;
    position: relative;
    float: right;
}

.select select {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    opacity: 0;
    font-size: 1.6rem;
    line-height: 6rem;
}

.select span {
    text-align: right;
    height: 6rem;
    line-height: 6rem;
    display: block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #4c4c4c;
}

textarea {
    width: 94%;
    padding: 0rem 3% 1rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
    color: #4c4c4c;
    border: 0;
    outline: none;
    resize: none;
}