/* CSS Document */
body{ background:#fff;
margin-bottom:5.5rem;
}
.comment{
	width:100%;
	margin:0 auto 1rem;
	background:#fff;}			
.party1{
	width:98%;
	padding:0.5rem 1% 1rem;
	border-top:1px #ddd solid;
}
.party2{
	width:94%;
	padding:0.5rem 3% 1rem;
	margin:0 auto;
	overflow:hidden;
	font-size:1.6rem;
	color:#414141;
}	
.party1 .partop{
	width:100%;
	margin:0.2rem 0 0.8rem;}	
.party1 .parbn{
	width:100%;
	text-align:right;
	color:#999;
	font-size:1.2rem;}	
.party1 .partop textarea{
	width:91%;
	border-radius:10px;
	outline:none;
	border:0;
	padding:0.2rem 0;
	font-size:1.6rem;
	line-height: 2rem;
color: #4c4c4c;}	
.parsub{
	width:100%;
	color:#4a4a4a;
	margin:1.5rem 0;}
.subtop1{
	width:30%;
	color:#414141;
	float:left;
	}
.subbn1{
	width:70%;
	overflow:hidden;
}
.subbn1 span{
	width:9%;
	display:block;
	float:left;}
.subbn1 span{
	margin:0 0.5rem;
	background:url(../images/startno.png) no-repeat;
	background-size:100% 100%;cursor:pointer;}		
.subbn1 span.active{background:url(../images/start.png) no-repeat;
	background-size:100% 100%;cursor:pointer;
	}	
		
					



.evaluate{
	width:100%;
	margin:0 auto;
	background:#fff;}


footer{
	position:fixed;
	width:100%;
	left:0;
	bottom:0;
	height:4rem;
	line-height:4rem;
	font-size:1.6rem;
	text-align:center;
	color:#FFF;
	letter-spacing:0.1rem;
	background:var(--main-color);
	cursor:pointer;}	