{extend name="public/base"/}

{block name="body"}
<script type="text/javascript">
    $("title").text('积分明细');
    $(document).ready(integral_obj.myintegral);
</script>

<header>
    <div class="top">
        <div>
            <p>积分</p>
            <p>{$vip.integral}</p>
        </div>
    </div>
    <div class="bn">
        <a href="{:url('Integral/index')}">
            <div><img src="__STATIC__/wechat/integral/images/myintegral.png">积分商城</div>
        </a>
    </div>
    <a href="{:url('Vip/about',array('type'=>'integral'))}">
        <div class="rule"><img src="__STATIC__/wechat/integral/images/rule.png">如何获取积分</div>
    </a>
</header>

<nav>
    <div class="navmid"><span>————————</span>&nbsp;&nbsp;积分明细&nbsp;&nbsp;<span>————————</span></div>
    <div class="navbn content">

    </div>
    <div class="hidden">
        <input type="hidden" name="page" value="1"/>
        <input type="hidden" name="url" value="{:url('Integral/myintegral')}"/>
    </div>
</nav>
{assign name="nodata" value="nothing_img"}
{include file="public/nodata"/}
{/block}
