<div class="kf_layer">
    <div class="kf_con">
    <p class="online-refer">在线咨询</p>
    <!--<p class="online-tel">客服热线：</p>-->
    <p class="online-tel">客服热线：{$xa_config['web_kf_tel']}</p>
    <div class="refer-wrapper">
        <div class="icon-text">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$xa_config.web_kf_qq1}&amp;site=qq&amp;menu=yes" target="_blank">
            <img src="__STATIC__/home/common/images/qq.png">
            <div class="right-text">
                <p class="text-font">QQ客服:</p>
                <p class="text-font">{$xa_config['web_kf_qq1']}</p>
            </div>
            </a>
        </div>
        <div class="icon-text">
            <a href="http://wpa.qq.com/msgrd?v=3&amp;uin={$xa_config.web_kf_qq2}&amp;site=qq&amp;menu=yes" target="_blank">
                <img src="__STATIC__/home/common/images/qq.png">
                <div class="right-text">
                    <p class="text-font">QQ客服:</p>
                    <p class="text-font">{$xa_config['web_kf_qq2']}</p>
                </div>
            </a>
        </div>
        <!--<div class="icon-text">-->
        <!--<img src="__STATIC__/home/common/images/wechat-icon.png">-->
        <!--<div class="right-text">-->
        <!--<p class="text-font">微信</p>-->
        <!--<p class="text-font">573385357</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="refer-code">-->
            <!--<img src="{$xa_config.base_routine_qrcode}">-->
            <!--<p>微信扫一扫 进入小程序</p>-->
        <!--</div>-->
    </div>
    </div>
</div>