<div class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination">
        <li id="example1_previous" class="paginate_button previous disabled">
            <a class="prev" href="">上一页</a>
        </li>
        <li class="paginate_button"><a class="num" href="">1</a></li>
        <li class="paginate_button"><a class="num" href="">2</a></li>
        <li class="paginate_button"><a class="num" href="">3</a></li>
        <li class="paginate_button"><a class="num" href="">4</a></li>
        <li class="paginate_button"><a class="num" href="">5</a></li>
        <li class="paginate_button active"><a tabindex="0" data-dt-idx="1" aria-controls="example1" href="#">6</a></li>
        <li class="paginate_button"><a class="num" href="">7</a></li>
        <li class="paginate_button"><a class="num" href="">8</a></li>
        <li class="paginate_button"><a class="num" href="">9</a></li>
        <li class="paginate_button"><a class="num" href="">10</a></li>
        <li class="paginate_button"><a class="num" href="">11</a></li>
        <li id="example1_next" class="paginate_button next">
            <a class="next" href="">下一页</a>
        </li>
        <li id="example1_previous" class="paginate_button previous disabled">
            <a class="end" href="">尾页</a>
        </li>
    </ul>
</div>