{extend name="public/base"/}
{block name="body"}
<script type="text/javascript">
    $("title").text('意见反馈');
    $(document).ready(vip_obj.feedback);
</script>
<form id="data-form">
    <div style="border-bottom: 1px #ddd solid;">
        姓名<input class="rinput" type="text" name="linkman" notice="请输入您的姓名"/>
    </div>

    <div>
        电话<input class="rinput" type="text" name="linktel" notice="请输入您的联系电话"/>
    </div>

    <textarea maxlength="100" rows="10" placeholder="您的宝贵意见是我们前进的动力！" name="content" notnull notice="请输入您的意见" limit></textarea>


    <input type="submit" class="footer5" value="提交">

</form>
<input type="hidden" id="do_action" value="{:url('Vip/feedback')}">
{/block}