<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<title>评价</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/Wechat/common/css/common.css"/>
	<link rel="stylesheet" type="text/css" href="__STATIC__/Wechat/vip/css/vip/review.css"/>
	<script type="text/javascript" src="__STATIC__/Common/js/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="__STATIC__/Wechat/common/js/global.js"></script>
		<script type="text/javascript" src="__STATIC__/Wechat/vip/js/vip.js"></script>
		<script type="text/javascript">
			var number = 5;
	    	$(document).ready(image_obj.image_init);
			$(document).ready(vip_obj.review_init);			
		</script>
</head>
<body>
	<form>
	<div class="comment">
		<div class="party2">
	    	<div class="parsub">
	            <div class="subtop1">服务态度</div>
	            <div class="subbn1">
	                 <span></span><span></span><span></span><span></span><span></span>
	            </div>
	            <input type="hidden" name="service" value="0">
	        </div>
	        
	        <div class="parsub">
	            <div class="subtop1">商家环境</div>
	            <div class="subbn1">
	                <span></span><span></span><span></span><span></span><span></span>
	            </div>
	            <input type="hidden" name="environmental" value="0">
	        </div>
	            
	        <div class="parsub">
	            <div class="subtop1">快递服务</div>
	            <div class="subbn1">
	                <span></span><span></span><span></span><span></span><span></span>
	            </div>
	            <input type="hidden" name="deliver" value="0">
	        </div>
		</div>
	    <div class="party1">
	        <div class="partop">
	        	<span style="color:#ff7f00; float:left;font-size: 2rem;margin-top: -0.2rem;">丨</span>
	        	<textarea rows="5" placeholder="请输入评价内容" name="content"></textarea>
	        </div>
	    </div>
	</div>
	
	<!--评价-->
	<div class="height"></div>

		<div class="evaluate">
			{include file="public/imgupload" /}
		</div>

	</form>
	<footer class="footer5">发&nbsp;布</footer>

</body>
		
</html>
