<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>分销列表</title>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/lj.css"/>
    <script type="text/javascript" src="../__STATIC__/wechat/home/js/jquery-1.11.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/withdrawlist.css"/>
</head>
<body>
    <div class='top-banner'>
        <img class="uybg" src="../__STATIC__/wechat/home/images/center-bg.jpg" />
        <div class="uycenter_head2">
            <img class="head" src="../__STATIC__/wechat/home/images/header.jpg" />
            <div class="uylmenu">
                <div class="uylmenu11">张三</div>
                <div class="uylmenu12">5545454545</div>
                <div class="uylmenu12">账户余额<span>(元)</span></div>
                <div class="uylmenu11">565456.00<span>提现</span></div>
            </div>
        </div>
        <div class="top">
            <div>提现时间</div>
            <div>提现金额(元)</div>
            <div>提现状态</div>
        </div>
    </div>






    <div class="list">
        <div class="bn">
            <div class="sub_list odd">
                <div>2017-06-01 14:00:00</div>
                <div class='red-color'>￥200</div>
                <div>已完成</div>
            </div>
            <div class="sub_list">
                <div>2017-06-01 14:00:00</div>
                <div class='red-color'>￥200</div>
                <div class='red-color'>失败</div>
            </div>
            <div class="sub_list odd">
                <div>2017-06-01 14:00:00</div>
                <div class='red-color'>￥200</div>
                <div class='black-color'>审核中</div>
            </div>
        </div>
    </div>





    <script type="text/javascript">
        $(function(){
            

        });
    </script>

</body>
</html>
