{if condition ="strtolower(request()->action()) == 'index'"}
{volist name="dataList" id="vo"}
<tr>
    <td><a href="#">{$vo.id}</a></td>
    <td>{$vo.real_name}</td>
    <td>{$vo.mobile}</td>
    <td>{$levelList[$vo.level_id]}</td>
    <td>
        {if condition="$vo.sex == 1"}男
        {elseif condition="$vo.sex == 2"/}女
        {else/}未知
        {/if}
    </td>
    <td>{$vo.birthday}</td>
    <td>{$vo.money}</td>
    <td>{$vo.total_money}</td>
    <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
    <td>操作</td>
</tr>
{/volist}
{/if}

{if condition ="strtolower(request()->action()) == 'recharge_list'"}
{volist name="dataList" id="vo"}
<tr>
    <td><a href="#">{$vo.id}</a></td>
    <td>{$vo.order_sn}</td>
    <td>{$vo.real_name}</td>
    <td>{$vo.pay_money}</td>
    <td>{$vo.after_money}</td>
    <td>{$statusList[$vo.status]}</td>
    <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
    <td>{if condition="$vo.pay_time"}{$vo.pay_time|date="Y-m-d H:i",###}{else/}没有记录{/if}</td>
    <td></td>
</tr>
{/volist}
{/if}

{if condition ="strtolower(request()->action()) == 'apply_list'"}
{volist name="dataList" id="vo"}
<tr>
    <td><a href="#">{$vo.id}</a></td>
    <td>{$vo.real_name}</td>
    <td>{$vo.mobile}</td>
    <td>{$vo.birthday}</td>
    <td>{$vo.wechat}</td>
    <td>{$statusList[$vo.status]}</td>d>
    <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
    <td>{if condition="$vo.check_time"}{$vo.check_time|date="Y-m-d H:i",###}{else/}没有记录{/if}</td>
    <td data-pid="{$vo.id}">
        {if condition="$vo.status eq 0"}
        <a href="#deal" data-url="{:url('Agent/applyHandle')}" data-tablename="agent_apply" data-fieldname="is_hidden" data-value="1"
           data-text="确定执行当前操作吗？">
            <button class="btn btn-success btn-xs" title="审核通过"><i class="icon-ok">通过</i></button>
        </a>
        <a href="#deal" data-url="{:url('Agent/applyHandle')}" data-tablename="agent_apply" data-fieldname="is_hidden" data-value="2"
           data-text="确定执行当前操作吗？">
            <button class="btn btn-danger btn-xs" title="审核不通过"><i class="icon-remove">不通过</i></button>
        </a>
        {/if}
    </td>
</tr>
{/volist}
{/if}

{if condition ="strtolower(request()->action()) == 'level_list'"}
{volist name="dataList" id="vo"}
<tr>
    <td><a href="#">{$key+1}</a></td>
    <td>{$vo.name}</td>
    <td>{$vo.money}</td>
    <td>{$vo.level_desc}</td>
    <td data-pid="{$vo.id}">
        <a href="{:url('Agent/edit_level',array('id'=>$vo['id']))}">
            <button class="btn btn-primary btn-xs" title="编辑"><i class="icon-pencil"></i></button>
        </a>
        {if condition="$vo.id gt 1"}
        <a href="#deal" data-url="{:url('Member/updatefield')}" data-tablename="vip_feedback" data-fieldname="is_hidden" data-value="1"
           data-text="确定删除吗？删除后将不可恢复">
            <button class="btn btn-danger btn-xs" title="删除"><i class="icon-trash"></i></button>
        </a>
        {/if}
    </td>
</tr>
{/volist}
{/if}


{if condition ="strtolower(request()->action()) == 'balance_log'"}
{volist name="dataList" id="vo"}
<tr>
    <td><a href="#">{$key+1}</a></td>
    <td>{$vo.real_name}</td>
    <td>{$vo.remark}</td>
    <td>{$vo.before}</td>
    <td>
        {$vo.change} {$vo.number}
    </td>
    <td>{$vo.after}</td>
    <td>{$vo.create_time|date="Y-m-d H:i",###}</td>
</tr>
{/volist}
{/if}

