.topbox {
    width: 100%;
    padding: 5vh 5vw;
    position: relative;
    box-sizing: border-box;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.userimg {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin-right: 10px;
    float: left;
}

.usertext {
    width: calc(100% - 90px);
    float: left;
    margin-top: 10px;
}

.userson {
    width: 100%;
    overflow: hidden;
}

.username {
    color: #fff;
    font-size: 13px;
}

.gochange {
    color: #fff;
    font-size: 11px;
    margin-left: 5px;
}

.gobutton {
    padding: 3px 8px;
    background-image: url(../images/gobutton.png);
    background-size: 100% 100%;
    font-size: 11px;
    color: #fff;
    height: 16px;
    line-height: 10px;
    display: inline-block;
}

.viplevel {
    color: #fff;
    font-size: 11px;
    padding: 0 5px;
    background: url(../images/viplevel.png) no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding-left: 22px;
    float: left;
    height: 18px;
    line-height: 16px;
}

.levelbox {
    overflow: hidden;
    width: 120px;
    float: left;
    margin-left: 5px
}

.tiao {
    width: 80%;
    border-radius: 5px;
    height: 5px;
    background: #000;
    position: relative;
    float: left;
    margin-bottom: 3px;
    overflow: hidden;
}

.tiao2 {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background: #9f4926;
}

.level {
    padding: 0 3px;
    box-sizing: border-box;
    background: #ee79a4;
    font-size: 12px;
    border-radius: 15px;
    color: #fff;
    float: left;
    height: 16px;
    line-height: 14px;
    margin-left: 10px;
}

.mbox {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
}

.m {
    float: left;
    width: 50%;
    padding: 20px 10px;
    box-sizing: border-box;
    float: left;
    padding-top: 20px;
    text-align: center;
}

.mtit {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}
.msp {
    font-size: 19px;
    font-weight: bolder;
}

.pay {
    padding: 0 10px;
    color: #fff;
    font-size: 13px;
    background: #a23de3;
    border-radius: 15px;
    height: 16px;
    line-height: 14px;
    display: inline-block;
    position: relative;
    bottom: 3px;
    position: relative;
    left: 20px;
}

.goother {
    display: inline-block;
    margin: 0 auto;
    color: #939393;
    border-bottom: 1px solid #939393;
    text-align: center;
    position: relative;
    left: 13px;
    font-size: 1rem;
}

.paybox {
    width: calc(100% - 20px);
    margin: 5px auto;
    padding: 10px 5vw;
    box-sizing: border-box;
    background: #f8f1fd;
    border-radius: 3px;
    box-shadow: 4px 4px #d6d6d6;
    overflow: hidden;
}

.paytit {
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    float: left;
}

.paylist {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
    float: left;
}

.payson {
    float: left;
    width: 31%;
    margin-right: 3.5%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    word-wrap: break-word;
    border: 1px solid #9e3de5;
    color: #9e3de5;
    border-radius: 4px;
    box-sizing: border-box;
    background: #fff;
    margin-bottom: 10px;
}

.paysonx {
    background: #9e3de5;
    color: #fff;
}

.payson:nth-child(3n) {
    margin-right: 0;
}

.otherpay {
    border: 1px solid #9e3de5;
    color: #9e3de5;
    width: 90%;
    box-sizing: border-box;
    padding: 2px;
    font-size: 1.5rem;
    float: left;
}

.payfunction {
    width: 100%;
    padding: 15px 0;
    float: left;
}

.pftit {
    font-size: 14px;
}

.cfun {
    font-size: 14px;
}

.littleimg {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-right: 3px;
}

.cstate {
    width: 16px;
    height: 16px;
    margin-bottom: -3px;
    margin-left: 3px;
}

.goback {
    margin-bottom: 10px;
    float: left;
    width: 40%;
    text-align: center;
    background: #b4b4b4;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #FFF;
}

.yespay {
    margin-bottom: 10px;
    float: right;
    width: 40%;
    text-align: center;
    border: none;
    background: #9e3de5;
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    color: #fff;
}

.fu {
    width: 100%;
    overflow: hidden;
}

.fu img {
    max-width: 100%;
}