{extend name="public/base"/}

{block name="body"}
<script type="text/javascript">
    $("title").text('余额提现');
    $(document).ready(money_obj.withdraw);
</script>

<form id="data-form">
    <nav>
        <ul>
            <li style="border-top: 0;">
                可提现金额<span>￥{$vip.money}</span>
            </li>
            <li style="border-top: 0;">
                本次提现金额<input type="text" name="money" value="" notnull placeholder="请输入提现金额">
            </li>
        </ul>
    </nav>
    <footer class="footer1">
        <input type="submit" value="提交">
    </footer>
</form>
<input type="hidden" name="do_action" value="{:url('Money/withdraw')}"/>
{/block}
