{extend name="public/base"/}
{block name="body"}
<script type="text/javascript">
    $("title").text('积分商城');
    $(document).ready(integral_obj.index);
</script>

<header>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {volist name="carousel" id="vo"}
            {if condition="$vo['imgpath'] neq ''"}
            <div class="swiper-slide"><a href="{$vo.url}"><img src="{$vo.imgpath}"/></a></div>
            {/if}
            {/volist}
        </div>
    </div>
</header>

<div class="link">
    <span><a href="{:url('Integral/myintegral')}"><img src="__STATIC__/wechat/integral/images/link1.png">积分<span>{$vip.integral}</span></a></span>
    <span><a href="{:url('Integral/myorder')}"><img src="__STATIC__/wechat/integral/images/link.png">兑换记录</a></span>
</div>

<nav>
    <ul class="content">

    </ul>
    <div class="hidden">
        <input type="hidden" name="page" value="1"/>
        <input type="hidden" name="url" value="{:url('Integral/index')}"/>
    </div>
    {assign name="nodata" value="nothing_img"}
    {include file="public/nodata"/}
</nav>

{/block}
