{extend name="public/left"/}

{block name="body"}
<script type="text/javascript">
    $(document).ready(common_obj.data_handle);
</script>

<section class="wrapper" style="margin-top:0">

    <div class="row">

        <div class="form-group">
            <div class="col-lg-12">
                <a href="{:url('Config/areaadd')}">
                    <p class="btn btn-success">+添加地区</p>
                </a>
            </div>
        </div>

        <div class="col-lg-12">
            <section class="panel">
                <table class="table table-striped table-advance table-hover" id="data-table">
                    <thead>
                    <tr>
                        <th><i></i>排序</th>
                        <th><i></i>名称</th>
                        <th><i></i>操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="row  form-inline">
                    <div class="col-sm-6">
                        <div class="dataTables_length">
                            <label>
                                进行操作：
                                <select name="oprate" size="1" class="form-control" style="width: 130px">
                                    <option value="sort" data-tablename="area" data-fieldname="sort" data-value="1" data-where="id" data-name="sort"
                                            data-url="{:url('Member/updateAll')}" data-info="请选择数据">更改排序</option>
                                </select>
                                <div class="form-group">
                                    <div class="btn btn-info form-control submit-all">确定</div>
                                </div>
                            </label>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

{/block}
