{extend name="public/left"/}

{block name="body"}
<script type="text/javascript">
    $(document).ready(function () {
        UM.getEditor('editor');
        load_one_img_init();
    });
    $(document).ready(common_obj.form_submit);
</script>

<section class="wrapper" style="margin-top:0">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <form class="cmxform form-horizontal tasi-form" id="data-form">
                    <header class="panel-heading tab-bg-dark-navy-blue">

                        <ul class="nav nav-tabs nav-justified ">
                            {foreach name="inc_type_list" item="vo" key="k"}
                            <li {eq name="k" value="$inc_type" }class="active" {/eq}>
                            <a href="{:url('Config/config',array('inc_type'=>$k))}">
                                {$vo}
                            </a>
                            </li>
                            {/foreach}
                        </ul>

                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">

                            <!--  基本配置  s  -->
                            <div class="tab-pane active" id="base">
                                <div class="form">

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">小程序审核期</label>
                                        <div class="col-lg-2">
                                            <select class="form-control m-bot15" name="applet_check_switch" required="required">
                                                <option value="0" {eq name="data.applet_check_switch" value="0"}selected{/eq}>开启</option>
                                                <option value="1" {eq name="data.applet_check_switch" value="1"}selected{/eq}>关闭</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group one-img">
                                        <label class="control-label col-lg-2">小程序二维码</label>
                                        <div class="col-lg-10">
                                            <div id="picker0" class="webuploader-picker">选择文件</div>
                                            <input type="hidden" name="routine_qrcode" value="{$data.routine_qrcode}"  notnull
                                                   placeholder="请上传小程序二维码">
                                        </div>
                                        <div class="col-lg-10 col-lg-offset-2 img">
                                            {if condition="$data.routine_qrcode"}
                                            <a href="{$data.routine_qrcode}" target="_blank">
                                                <img src="{$data.routine_qrcode}">
                                            </a>
                                            {/if}
                                        </div>
                                    </div>

                                    <div class="form-group one-img">
                                        <label class="control-label col-lg-2">商品海报背景图</label>
                                        <div class="col-lg-10">
                                            <div id="picker2" class="webuploader-picker">选择文件</div>
                                            <input type="hidden" name="goods_poster_bg" value="{$data.goods_poster_bg}"
                                                   notnull
                                                   placeholder="请上传商品海报背景图">
                                        </div>
                                        <div class="col-lg-10 col-lg-offset-2 img">
                                            {if condition="$data.goods_poster_bg"}
                                            <a href="{$data.goods_poster_bg}" target="_blank">
                                                <img src="{$data.goods_poster_bg}">
                                            </a>
                                            {/if}
                                        </div>
                                    </div>

                                    <div class="form-group one-img">
                                        <label class="control-label col-lg-2">个人海报背景图</label>
                                        <div class="col-lg-10">
                                            <div id="picker4" class="webuploader-picker">选择文件</div>
                                            <input type="hidden" name="user_poster_bg" value="{$data.user_poster_bg}"
                                                   notnull
                                                   placeholder="请上传个人海报背景图">
                                        </div>

                                        <div class="col-lg-10 col-lg-offset-2 img">
                                            {if condition="$data.user_poster_bg"}
                                            <a href="{$data.user_poster_bg}" target="_blank">
                                                <img src="{$data.user_poster_bg}">
                                            </a>
                                            {/if}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  基本配置  e  -->

                        </div>
                    </div>
                    <input type="hidden" name="inc_type" value="{$inc_type}">
                    <input type="hidden" id="do_action" value="{:url('Config/config')}"/>
                    <input type="hidden" id="do_jump" value="{:url('Config/config',array('inc_type'=>$inc_type))}"/>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input class="btn btn-danger" type="submit" value="提交保存">
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>
{/block}