{if condition ="strtolower(request()->action()) == 'area'"}
{volist name="dataList" id="vo"}
<tr>
    <td>
        <input name="sort" data-id="{$vo.id}" type="text" size="1" class="form-control col-lg-1 data-sort" value="{$vo.sort}">
    </td>
    <td>{$vo.name}</td>
    <td data-pid="{$vo.id}">
        <a href="{:url('Config/areaadd',array('id'=>$vo['id']))}">
            <button class="btn btn-primary btn-xs" title="编辑"><i class="icon-pencil"></i></button>
        </a>
        <a href="#deal" data-url="{:url('Member/updatefield')}" data-tablename="area" data-fieldname="is_hidden" data-value="1" title="删除"
           data-text="确定删除吗？删除后将不可恢复">
            <button class="btn btn-danger btn-xs" title="删除"><i class="icon-trash"></i></button>
        </a>
    </td>
</tr>
{if condition="isset($vo._child)"}
{volist name="vo._child" id="v"}
<tr>
    <td style="padding-left: 20px">
        ├─
        <input name="sort" data-id="{$v.id}" type="text" size="1" class="form-control col-lg-1 data-sort" value="{$v.sort}">
    </td>
    <td>
        ├─
        {$v.name}
    </td>
    <td data-pid="{$v.id}">
        <a href="{:url('Config/areaadd',array('id'=>$v['id']))}">
            <button class="btn btn-primary btn-xs" title="编辑"><i class="icon-pencil"></i></button>
        </a>
        <a href="#deal" data-url="{:url('Member/updatefield')}" data-tablename="area" data-fieldname="is_hidden" data-value="1" title="删除"
           data-text="确定删除吗？删除后将不可恢复">
            <button class="btn btn-danger btn-xs" title="删除"><i class="icon-trash"></i></button>
        </a>
    </td>
</tr>
{/volist}
{/if}
{/volist}
{/if}

{if condition ="strtolower(request()->action()) == 'freight_list'"}
{volist name="dataList" id="vo"}
<tr>
    <td>
        {$vo.id}
    </td>
    <td>{$vo.name}</td>
    <td>{$vo.first_money}</td>
    <td>{$vo.free_limit}</td>
    <td data-pid="{$vo.id}">
        <a href="{:url('Config/freight_add',array('id'=>$vo['id']))}">
            <button class="btn btn-primary btn-xs" title="编辑"><i class="icon-pencil"></i></button>
        </a>
    </td>
</tr>
{/volist}
{/if}
{if condition ="strtolower(request()->action()) == 'express_list'"}
{volist name="dataList" id="vo"}
<tr>
    <td>
        {$vo.id}
    </td>
    <td>{$vo.express_name}</td>
    <td>{$vo.kuaidinaio}</td>
    <td>{$vo.kuaidi100}</td>
    <td style="text-align: center" data-pid="{$vo.id}">
        <a href="{:url('Config/express_add',array('id'=>$vo['id']))}">
            <button class="btn btn-primary btn-xs" title="编辑"><i class="icon-pencil"></i></button>
        </a>
    </td>
</tr>
{/volist}
{/if}

