{extend name="public/left"/}

{block name="body"}
<script type="text/javascript">
    $(document).ready(function () {
        UM.getEditor('editor');
        load_one_img_init();
    });
    $(document).ready(common_obj.form_submit);
</script>

<section class="wrapper" style="margin-top:0">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <form class="cmxform form-horizontal tasi-form" id="data-form">
                    <header class="panel-heading tab-bg-dark-navy-blue">

                        <ul class="nav nav-tabs nav-justified ">
                            {foreach name="inc_type_list" item="vo" key="k"}
                            <li {eq name="k" value="$inc_type"}class="active"{/eq}>
                                <a href="{:url('Config/config',array('inc_type'=>$k))}" >
                                    {$vo}
                                </a>
                            </li>
                            {/foreach}

                            <!--<li class="">-->
                            <!--<a href="#recent" data-toggle="tab">-->
                            <!--Recents-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--<li class="">-->
                            <!--<a href="#recent" data-toggle="tab">-->
                            <!--Recents-->
                            <!--</a>-->
                            <!--</li>-->
                        </ul>

                    </header>
                    <div class="panel-body">
                        <div class="tab-content tasi-tab">

                            <!--  购物流程设置  s  -->
                            <div class="tab-pane active" id="shopping" >
                                <div class="form">

                                    <div class="form-group">
                                        <label class="control-label col-lg-2">订单取消时间</label>
                                        <div class="col-lg-2">
                                            <select class="form-control m-bot15" name="cancel_time" required="required">
                                                <option value="5" {eq name="data.cancel_time" value="5"}selected{/eq}>5分钟</option>
                                                <option value="30" {eq name="data.cancel_time" value="20"}selected{/eq}>30分钟</option>
                                                {for start="1" end="25" name="times"}
                                                <option value="{$times*60}" {eq name="data.cancel_time" value="$times*60"}selected{/eq}>{$times}小时</option>
                                                {/for}
                                            </select>
                                            <span class="help-block">*下单后多少分钟未付款，订单自动取消</span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-lg-2">自动收货时间</label>
                                        <div class="col-lg-2">
                                            <select class="form-control m-bot15" name="confirm_time" required="required">
                                                {for start="1" end="31" name="times"}
                                                <option value="{$times}" {eq name="data.confirm_time" value="$times"}selected{/eq}>{$times}天</option>
                                                {/for}
                                            </select>
                                            <span class="help-block">*订单发货后多少天未确认收货，订单自动确认收货</span>
                                        </div>
                                    </div>

                                    <!--<div class="form-group">-->
                                        <!--<label class="control-label col-lg-2">自动评价时间</label>-->
                                        <!--<div class="col-lg-6">-->
                                            <!--<input class="form-control" type="number" name="confirm_time" required="required"-->
                                                   <!--value="{$data.confirm_time}" step="1" min="1"/>-->
                                            <!--<span class="help-block">*订单确认收货后多少天未评价，订单自动好评</span>-->
                                        <!--</div>-->
                                    <!--</div>-->


                                </div>
                            </div>
                            <!--  购物流程设置  e  -->

                        </div>
                    </div>
                    <input type="hidden" name="inc_type" value="{$inc_type}">
                    <input type="hidden" id="do_action" value="{:url('Config/config')}"/>
                    <input type="hidden" id="do_jump" value="{:url('Config/config',array('inc_type'=>$inc_type))}"/>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input class="btn btn-danger" type="submit" value="提交保存">
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</section>
{/block}