<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>待评价</title>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/lj.css"/>
    <script type="text/javascript" src="../__STATIC__/wechat/home/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../__STATIC__/wechat/home/js/clipboard.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../__STATIC__/wechat/home/css/ordersdetailwaitdiscuss.css"/>
</head>
<body>
    <div class="top-banner">
        <div class="top-bannera">订单状态：买家已付款</div>
        <div class="top-bannerb">物流状态：买家发货中</div>
        <img class='payed' src="../__STATIC__/wechat/home/images/payed.png" />
    </div>


    <div class='order-addr'>
        <img class='addr' src="../__STATIC__/wechat/home/images/addr.png" />
        <img class='toright' src="../__STATIC__/wechat/home/images/toright.png" />
        <div class='addr-box'>
            <div class='addr-name'>收货人：李三 <span>2454121254512121</span></div>
            <div class='addr-info'>收货地址：上海市徐汇区街道的方式开发商</div>
        </div>
    </div>



    <div class='lists'>
        <div class='item'>
            <div class="lt">
                <img src="../__STATIC__/wechat/home/images/product.jpg"/>
            </div>
            <div class="rt">
                <div class='list-name'>单人沙发身份雾非雾地热个个人</div>
                <div class='list-info'>
                    <span>颜色:白色</span>
                    <span>尺寸:大号</span>
                </div>
                <div class='list-money'>
                    <span class='aa'>￥<span>343</span></span>
                    <span class='bb'>x4</span>
                </div>
            </div>
        </div>
        <div class='item'>
            <div class="lt">
                <img src="../__STATIC__/wechat/home/images/product.jpg"/>
            </div>
            <div class="rt">
                <div class='list-name'>单人沙发身份雾非雾地热个个人</div>
                <div class='list-info'>
                    <span>颜色:白色</span>
                    <span>尺寸:大号</span>
                </div>
                <div class='list-money'>
                    <span class='aa'>￥<span>343</span></span>
                    <span class='bb'>x4</span>
                </div>
            </div>
        </div>
        <div class='item'>
            <div class="lt">
                <img src="../__STATIC__/wechat/home/images/product.jpg"/>
            </div>
            <div class="rt">
                <div class='list-name'>单人沙发身份雾非雾地热个个人</div>
                <div class='list-info'>
                    <span>颜色:白色</span>
                    <span>尺寸:大号</span>
                </div>
                <div class='list-money'>
                    <span class='aa'>￥<span>343</span></span>
                    <span class='bb'>x4</span>
                </div>
            </div>
        </div>
    </div>

    <div class='div-input'>
        <div class='div-input-left'>买家留言</div>
        <div class='div-input-right'>买家无留言</div>
    </div>



    <div class='order-box'>
        <div class='order-left small-fontSize'>共2件商品 合计</div>
        <div class='order-right'>￥336.00</div>
    </div>
    <div class='order-box'>
        <div class='order-left'>运费</div>
        <div class='order-right order-gray'>￥336.00</div>
    </div>
    <div class='order-box'>
        <div class='order-left'>优惠金额</div>
        <div class='order-right'>￥336.00</div>
    </div>
    <div class='order-box'>
        <div class='order-left'>实付款</div>
        <div class='order-right'>￥336.00</div>
    </div>



    <div class='order-box'>
        <div class='ordera-left'>支付方式：</div>
        <div class='ordera-right'>佣金支付</div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'>配送方式：</div>
        <div class='ordera-right'>顺丰快递</div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'></div>
        <div class='ordera-right'>
            <span class='order-code' id="copy">345353453453</span>
            <button class="copy order-copy" data-clipboard-action="copy" data-clipboard-target="#copy">复制</button>
        </div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'>订单编号：</div>
        <div class='ordera-right'>sfsfsfsf</div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'>下单时间：</div>
        <div class='ordera-right'>2018-05-30 15:00:00</div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'>付款时间：</div>
        <div class='ordera-right'>2018-05-30 15:00:00</div>
    </div>
    <div class='order-box'>
        <div class='ordera-left'>发货时间：</div>
        <div class='ordera-right'>2018-05-30 15:00:00</div>
    </div>




    <div class="ss">
      <div class="ke">
          <img class="keimg" src="../__STATIC__/wechat/home/images/footer-home.png"/>
          <div class="kefont">首页</div>
      </div>
      <div class="ke">
          <img class="keimg" src="../__STATIC__/wechat/home/images/footer-ear.png"/>
          <div class="kefont">客服</div>
      </div>
      <div class="s2">申请退款</div>
      <div class="s3">确认收货</div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){    
            var clipboard3 = new Clipboard('.copy');   
            clipboard3.on('success', function(e) {  
               console.log(e);  
                console.log("复制成功！")  
            });  
            clipboard3.on('error', function(e) {
                console.log("复制失败！请手动复制")  
            });  
        })  
    </script>

</body>
</html>
