<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>{$Think.config.wx_name}</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/wechat/common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/wechat/{$Request.controller|strtolower}/css/{$Request.action|strtolower}.css"/>

    <script type="text/javascript" src="__STATIC__/common/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="__STATIC__/wechat/common/js/common.js"></script>
    <script type="text/javascript" src="__STATIC__/wechat/{$Request.controller|strtolower}/js/{$Request.controller|strtolower}.js"></script>

    <!--轮播-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/common/js/swiper/swiper.min.css"/>
    <script type="text/javascript" src="__STATIC__/common/js/swiper/swiper.jquery.min.js"></script>

    <!--JSSDK-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="__STATIC__/wechat/common/js/jssdk.js"></script>
    <script type="text/javascript">
        var config = {
            appid: '{$signpackage.appid}',
            timestamp:'{$signpackage.timestamp}',
            nonceStr:'{$signpackage.nonceStr}',
            signature:'{$signpackage.signature}',
        }
        $(document).ready(config_obj.config_init);
    </script>
</head>
<body>