{extend name="public/base"/}
{block name="body"}
<!--头像-->

<div class="top">
    <div><img src="{$vip.headimgurl}"/></div>
    <div><span>{$vip.nickname}</span><span>{$vip.mobilephone}</span></div>
</div>

<div class="content">
    <a href="{:url('Vip/myinfo')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my1.png"/></div>
            <div class="listrt">我的信息</div>
        </div>
    </a>

    <a href="{:url('Vip/myaddress')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my2.png"/></div>
            <div class="listrt">常用地址</div>
        </div>
    </a>


    <div class="height"></div>
    <a href="{:url('Integral/myintegral')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my9.png"/></div>
            <div class="listrt">积分</div>
            <div class="rtt" style="padding: 0 1rem;"><span>{$vip.integral}</span></div>
        </div>
    </a>

    <a href="{:url('Money/index')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my3.png"/></div>
            <div class="listrt">余额</div>
            <div class="rtt" style="padding: 0 1rem;">¥<span>{$vip.money}</span></div>
        </div>
    </a>

    <a href="{:url('Coupon/index')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my4.png"/></div>
            <div class="listrt">优惠券</div>
            <div class="rtt" style="padding: 0 1.6rem;"><span>{$number}</span>张</div>
        </div>
    </a>

    <div class="height"></div>

    <a href="">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my5.png"/></div>
            <div class="listrt">我的订单</div>
        </div>
    </a>
    <a href="{:url('Integral/index')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my6.png"/></div>
            <div class="listrt">积分商城</div>
        </div>
    </a>
    <a href="{:url('Vip/feedback')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my7.png"/></div>
            <div class="listrt">意见反馈</div>
        </div>
    </a>
    <a href="{:url('Vip/myqrcode')}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my8.png"/></div>
            <div class="listrt">我的二维码</div>
        </div>
    </a>

    <a href="{:url('Vip/about',array('type'=>'about'))}">
        <div class="list">
            <div class="listlt"><img src="__STATIC__/wechat/vip/images/my10.png"/></div>
            <div class="listrt">关于我们</div>
        </div>
    </a>
</div>
<!--footer-->
<footer class="footer3">
    <ul>
        <li>
            <a href="{:url('Home/index')}">
                <span class="imga"><img src="__STATIC__/wechat/common/images/footer1.png"/></span>
                <span>首页</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="imga"><img src="__STATIC__/wechat/common/images/footer2.png"/></span>
                <span>订单</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="imga"><img src="__STATIC__/wechat/common/images/footer3.png"/></span>
                <span>购物车</span>
            </a>
        </li>
        <li>
            <a href="{:url('Vip/index')}">
                <span class="imga"><img src="__STATIC__/wechat/common/images/footer4.png"/></span>
                <span style="color:#ff5500">会员中心</span>
            </a>
        </li>
    </ul>
</footer>
{/block}
