{extend name="public/base"/}
{block name="body"}
<script type="text/javascript">
    $("title").text('注册');
    $(document).ready(vip_obj.register);
</script>

<form id="data-form">
    <div class="register">
        <div>
            <input type="text" name="mobilephone" placeholder="请输入您的手机号" notnull>
        </div>
        <div>
            <input type="text" name="code" placeholder="请输入验证码" notnull>
            <span id="get_code">获取短信验证码</span>
        </div>
    </div>
    <input type="submit" class="footer" value="注册">
</form>

<input type="hidden" id="do_action" value="{:url('Vip/register')}">
{/block}
