<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>[title]</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/home/css/common.css?v=1.0.01"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/home/css/lj.css?v=1.0.02"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/{$Request.controller|strtolower}/css/{$Request.action|strtolower}.css?v=1.0.01"/>
    <!--<script type="text/javascript" src="__STATIC__/mobile/home/js/jquery-1.11.2.min.js"></script>jquery-2.1.4-->
    <script type="text/javascript" src="__STATIC__/mobile/common/js/jquery-2.1.4.js"></script>
    <!-- 轮播图插件 -->
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/home/css/swiper.min.css"/>
    <script type="text/javascript" src="__STATIC__/mobile/home/js/swiper.min.js"></script>
    <script type="text/javascript" src="__STATIC__/mobile/common/js/common.js?v=1.0.02"></script>
    <script type="text/javascript" src="__STATIC__/mobile/{$Request.controller|strtolower}/js/{$Request.controller|strtolower}.js?v=1.0.01"></script>
    <!--JSSDK-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" src="__STATIC__/wechat/common/js/jssdk.js"></script>
    <!--jqweiui-->
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/common/css/weui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__STATIC__/mobile/common/css/jquery-weui.css"/>
    <script type="text/javascript">
        var config = {
            appid: '{$signpackage.appid}',
            timestamp:'{$signpackage.timestamp}',
            nonceStr:'{$signpackage.nonceStr}',
            signature:'{$signpackage.signature}',
        }
        $(document).ready(config_obj.config_init);
    </script>
    <script type="text/javascript" src="__STATIC__/mobile/common/js/jquery-weui.js"></script>
    <style>
        .weui-toast{
            margin-left: auto;
        }
        .weui-toast--text{
            margin-left: auto;
        }
        .weui-toptips{
            z-index: 1000;
        }
    </style>

</head>