<link rel="stylesheet" type="text/css" href="__STATIC__/wechat/common/css/module.css"/>

<div class="block_image">
	<div class="upload_img">	    	
	    <div class="upload_box choose_image">
			<div class="img" >    	
				<img src=""/>
			</div>
			<div class="del"></div>
			<!-- <div class="img1" src="__STATIC__/Wechat/images/vip/close1.png"/> -->
			<input type="hidden" name="localid[]" value="">
			<input type="hidden" name="serverid[]" value="">	
		</div>
	</div>
</div>


<!-- <div style="clear:left" id="last"></div> -->