{extend name="public/base"/ }
{block name="body"}
<body>

<div class="tit">
    余额明细
    <a class="goback" href="javascript:history.go(-1);">< 返回</a>
</div>

<div class="listbox lists">
    <div class="hidden">
        <input type="hidden" name="page" value="0"/>
        <input type="hidden" name="url" value="{:url('Agent/balance_log')}"/>
    </div>
    <div class="content">

    </div>
    <form id="form_ajax">
        <input type="hidden" name="keyword" value=""/>
        <input type="hidden" name="sort" value="create_time"/>
        <input type="hidden" name="asc" value="asc"/>
    </form>
    {assign name="nodata" value="nothing_img"}
    {include file="public/nodata"/ text="亲，你还没有相关数据~"}
</div>
<script type="text/javascript">
    $(document).ready(agent_obj.balance_log);
</script>
{/block}