{extend name="public/base"/ }
{block name="body"}
<style>
    .weui-picker-modal{
        height: 20.5rem;
    }
    .toolbar{
        font-size: 1.7rem;
    }
    .toolbar .toolbar-inner {
        height: 3.3rem;
    }
    .toolbar .picker-button {
        line-height:3.3rem;
        font-size: 1.7rem;
    }
    .toolbar .title{
        line-height:3.3rem;
        font-size: 1.7rem;
    }
    .weui-picker-modal .picker-modal-inner{
        height: 16.6rem;
    }
    .weui-picker-modal .picker-items{
        font-size: 1.5rem;
    }
</style>
<body>
<div class="hd">
    <a href="javascript:history.go(-1);">
        <div class="back"><img src="__STATIC__/mobile/common/images/back.png" alt=""> 返回</div>
    </a>
    <div>基本信息</div>
</div>
<div class="inbox">
    <div class="sbox">
        <div class="item-l">头像</div>
        <div class="item-r " data-type="head" data-item="headimgurl" data-item_text="头像">
            <img class="head" src="{$user.headimgurl}" alt="">
        </div>
    </div>
    <div class="sbox">
        <div class="item-l">昵称</div>
        <div class="item-r  icon-edit" data-type="input" data-item="nickname" data-item_text="昵称">
            <input type="text" name="nickname" value="{$user.nickname}" readonly placeholder="请输入">
        </div>
    </div>
    <div class="sbox">
        <div class="item-l">姓名</div>
        <div class="item-r  icon-edit" data-type="input" data-item="real_name" data-item_text="姓名">
            <input type="text" name="real_name" value="{$agent.real_name}" readonly placeholder="请输入">
        </div>
    </div>

    <div class="sbox">
        <div class="item-l">手机号码</div>
        <div class="item-r" data-type="input" data-item="real_name" data-item_text="姓名">
            <input type="text" name="real_name" value="{$agent.mobile}" readonly placeholder="请输入">
        </div>
    </div>

    <div class="sbox">
        <div class="item-l">性别</div>
        <div class="item-r  icon-edit" data-type="sex" data-item="sex" data-item_text="性别">
            <input type="text" name="sex" value="{$sexList[$agent.sex]}" readonly placeholder="请输入">
        </div>
    </div>

    <div class="sbox">
        <div class="item-l">生日</div>
        <div class="item-r  icon-edit" data-type="birthday" data-item="birthday" data-item_text="生日">
            <input type="text" name="birthday" value="{$agent.birthday}" readonly placeholder="请输入">
        </div>
    </div>

    <div class="sbox">
        <div class="item-l">微信号</div>
        <div class="item-r  icon-edit" data-type="input" data-item="wechat" data-item_text="微信号">
            <input type="text" name="wechat" value="{$agent.wechat}" readonly placeholder="请输入">
        </div>
    </div>
</div>

<div class="zhe">
    <form id="data-form">
        <div class="zhebox zhebox1">
            <p class="edit_tip">修改<span id="edit_text">昵称</span></p>
            <input class="in in1 edit-con" type="text" name="value" value="" placeholder="请输入" notnull notice="">
            <div class="sex-sel edit-con">
                <div class="sex-item">
                    {foreach name="sexList" item="vo" key="k"}
                    <label data-value="{$k}">
                        <img src="__STATIC__/mobile/common/images/pay-no.png" alt="">{$vo}
                    </label>
                    {/foreach}
                </div>
            </div>
            <div class="edit-con birthday">
                <input class="in in1 " type="text" id="birthday" value="" placeholder="请输入">
            </div>
            <div class="edit-btn">
                <div class="qu cancel">取消</div>
                <div style="height: 24px;border-right: 1px solid #d9d9d9;margin-top: 3px;float: left;"></div>
                <input type="hidden" name="edit_item" value="">
                <button class="que" type="submit">确定</button>
            </div>
        </div>
    </form>
    <input type="hidden" id="do_action" value="{:url('Agent/editInfo')}">
    <div class="zhebox zhebox5">
        <span class="xing">保密</span>
        <span class="xing">男</span>
        <span class="xing">女</span>
    </div>
</div>
</div>

<script>
    $(document).ready(function () {
        agent_obj.userinfo();
    });
    var type,item,item_text;
    $(function () {
        $('.icon-edit').on('click', function (e) {
             type = $(this).data('type');
             item = $(this).data('item');
             item_text = $(this).data('item_text');
            $('input[name=edit_item]').val(item);
            $('#edit_text').text(item_text);
            $('.edit-con').hide();
            if (type == 'input') {
                $('input[name=value]').attr('notice','请输入'+item_text).val('').show();
            }else if(type == 'sex'){
                $('input[name=value]').attr('notice','请选择'+item_text).val('').hide();
                $('.sex-sel').show();
            }else if(type == 'birthday'){
                $('input[name=value]').attr('notice','请选择'+item_text).val('').hide();
                $('.birthday').show();
            }
            $('.zhe').css('display', 'flex');
            $('.zhebox1').show();
        });
        //性别选择
        $('.sex-item label').on('click',function () {
            $('.sex-item label').find('img').attr('src','__STATIC__/mobile/common/images/pay-no.png');
            $(this).find('img').attr('src','__STATIC__/mobile/common/images/pay-yes.png');
            var sel_value  =$(this).data('value');
            $('input[name=value]').val(sel_value);
        });

        let allTime = '';
        let myDate = new Date();
        let dxy = myDate.getFullYear();
        let dxm = myDate.getMonth()+1;
        let dxd = myDate.getDate();
        if(dxm<10){
            dxm='0'+dxm
        }else{

        }
        if(dxd<10){
            dxd='0'+dxd
        }else{

        }
        let maxdate=dxy+'-'+dxm+'-'+dxd;
        $("#birthday").datetimePicker({
            times: function () {
                return [
                ];
            },
            title: '请选择生日',
            min: "1900-01-01",
            max: maxdate,
            onChange: function(picker, values, displayValues) {
                var value =picker.value;
                console.log(value);
                var birthday = value[0]+'-'+value[1]+'-'+value[2];
                $('input[name=value]').val(birthday);
                $('#birthday').val(birthday);
            },
            onClose: function(picker) {
                var value =picker.value;
                console.log(value);
                var birthday = value[0]+'-'+value[1]+'-'+value[2];
                $('input[name=value]').val(birthday);
                $('#birthday').val(birthday);
            },
        });


        /**取消修改**/
        $('.qu').on('click', function () {
            $('.zhe').hide();
            $('.zhebox').hide();
        })
    })
</script>

{/block}